# Secrets
.env

# Binaries
bin/
*.exe
*.test
*.out
__debug_bin*
ai-memory

# Dependency directories (optional, depending on strategy)
vendor/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Data
storage/
memory.json

# log
log/
ai_memory.log
ai-memory-*
test.log